
body {
    overflow-x: hidden;
  }

.container-fluid {
  padding: 0;
}
.bannerhome {
    width: 100%;
  }

.navbar-nav {
    top: 50px;
    left: 0;
  }

nav .nav-link:hover {
  background-color: #F4BD18;
}
.row>* {
   
    padding-right: 0;
    padding-left: 0;
    
}
.nav-link {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.active {
  background-color: #F4BD18;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    margin-top: -377px;
    position: absolute;
}

.ubinav {
  margin-top: -25rem;
  margin-left: 2rem;
}

.previewbauhaus {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;

}

.boton1 {
  position: absolute;
  padding-top: 20rem;
  padding-left: 25rem;
  width: 36%;
}

.img-container {
    display: flex;
    width: 85%;
    margin-right: 0;
    justify-content: center;
}

.conoce {
  text-align: left;
}

.img-btn:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }


.w-100 {
    width: 100%!important;
    position: absolute;
}

.wassily {
  margin: 0;
  justify-content: left;
  width: 50%;
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.wassilypreview {
  text-align: justify;
}

.boton2 {
  position: absolute;
  padding-top: 19rem;
  padding-left: 16rem;
  width: 27%;
}
.footer {
  background-color: #EDDECB;
  padding: 20px 0;
}

.text-center2 {
  text-align: center!important;
  margin-left: auto;
  width: 65%;
}

.durante {
  flex: 0 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
}

.img-container2 {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: right;
}
.background2 {
  background-color: #005AAB;
  height: 17rem;
}

.previewbauhaus2 {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.img-fluid2 {
  width: 18%;
  height: auto;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-container2 {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.background3 {
  background-color: #EDDECB;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.arquitectura {
  margin: 0;
  justify-content: left;
  width: 80%;
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.info {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.boton3 {
    position: absolute;
    margin-left: 13rem;
    width: 10%;
    display: flex;

}

.wassilypreview2 {
  text-align: justify;
  margin-bottom: 0;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.text-center3 {
  text-align: center!important;
  margin-left: auto;
  width: 66%;
  padding-right: 2rem;
}

.footercolor {
  
  background-color: #F4BD18;
}

.contactoimg {
  width: 85%;
  margin: auto;
  display: flex;
}

.contacto {
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 5rem;
}

.margen_diseño {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

form label {
  color: black;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.background_form {
  background-color: #EDDECB;
}

.usuario {
  display: flex;
}

.apellido {
  margin-left: 2.5rem;
}
.email {
  width: 105%;
}

.background_footer {
  background-color: #F4BD18;
  color: black;
}

.btn-primary {
  background-color: #005AAB;
  color: white;
  border-color: none;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover {
  background-color: #ED1B24;
}

.backgroundcontacto {
  background-color: #005AAB;
}

.img-fluid_contacto {
  width: 42%;
  height: auto;
  position: absolute;
  display: flex;
  padding-top: 3rem;
}

.margen_artistas {
  margin-bottom: 0;
}

.walter {
  margin-left: auto;
  width: 50%;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.text-center_artistas {
  text-align: center!important;
  margin-right: auto;
  width: 65%;
}




.image-container {
  position: relative;
  padding: 1rem;
  
}
.image-container2 {
  position: relative;
  padding: 1rem;
  width: 25%;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .text-overlay {
  opacity: 1;
}
.image-container2:hover .text-overlay {
  opacity: 1;
}

.text-overlay h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.text-overlay p {
  font-size: 0.7rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-align: justify;
  
}

img {
  width: 100%;
  height: auto;
}

.background5 {
  background-color: #005AAB;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.img-fluid3 {
  width: 42%;
  height: auto;
  position: absolute;
  display: flex;
}
.text-center_diseñoind {

    text-align: center!important;
    margin: auto;
}

.margen_galeria {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.arte {
  margin: 0;
  justify-content: left;
  padding-left: 4rem;
  padding-bottom: 3rem;
}

.wassily {
  margin: 0;
  justify-content: left;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

.img-fluid4 {
  width: 35%;
  height: auto;
  position: absolute;
  display: flex;
}

.background6 {
  background-color: #ED1B24;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.hover-zoom:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.card {
  --bs-card-border-color: 0;
  width: 50%;
}



.card_artistas{
  text-align: justify;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 3rem;
  padding-bottom: 6rem;
 
}

.background_artistas {
  background-color: #EDDECB;
}

.width_artistas {
  width: 95%;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2rem;
}

.font_title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.foto_artistas{
  width: 33.7%;
}

.artistas_right {
  justify-content: right;
}

.carousel_artistas {
  width: 80%;
}

.right_footer {
  text-align: right;
}

.img-container3 {
    display: flex;
    width: 100%;
    margin-left: -8rem;
    justify-content: right;
}

.img-container4 {
    display: flex;
    width: 100%;
    margin-left: 8rem;
    justify-content: left;
}

.numero {
  font-size: 19rem;
  font-family: 'Montserrat', sans-serif;
  color: #005AAB;
}

.numero2 {
  font-size: 19rem;
  font-family: 'Montserrat', sans-serif;
  color: #ED1B24;
}

.numero3 {
  font-size: 19rem;
  font-family: 'Montserrat', sans-serif;
  color: #F4BD18;
}

.background7 {
  background-color: #F4BD18;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.background_exclusivo {
  background-color: #EDDECB;
}

.background_footer2 {
  background-color: black;
  color: white;
}


.principios {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.img-container5 {
  display: flex;
  justify-content: center;
}

.text-center_principios {
  text-align: center!important;
  width: 40%;
  position: absolute;
  margin-top: -8rem;
}

.padding_principios {
  padding-top: 8rem
}

.titulo_principios {
  flex: 0 0 auto;
  width: 100%;
  justify-content: left;
  display: flex;
  margin-bottom: 11rem;
}

.titulo {
  font-size: 2rem;
    text-align: left;
    color: white;
    font-family: 'Montserrat';
}