
body {
    overflow-x: hidden;
  }

.bannerhome {
    width: 100%;
  }

.navbar-nav {
    top: 50px;
    left: 0;
  }

nav .nav-link:hover {
  background-color: #F4BD18;
}
.row>* {
   
    padding-right: 0;
    padding-left: 0;
    
}
.nav-link {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.active {
  background-color: #F4BD18;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    margin-top: -377px;
    position: absolute;
}

.ubinav {
  margin-top: -25rem;
  
}
.previewbauhaus {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;

}

.boton1 {
    position: absolute;
    padding-top: 19rem;
    padding-left: 23rem;
    width: 35%;
}

.img-container {
    display: flex;
    width: 85%;
    margin-right: 0;
    justify-content: center;

}

.conoce {
    text-align: left;
}

.img-btn:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }


.w-100 {
    width: 100%!important;
    position: absolute;
}

.wassily {
  margin: 0;
  justify-content: left;
}

.wassilypreview {
  text-align: justify;
}

.boton2 {
  position: absolute;
  padding-top: 19rem;
  padding-left: 23rem;
  width: 35%;
}
.footer {
  background-color: #EDDECB;
  padding: 20px 0;
}

.text-center2 {
  text-align: center!important;
  margin-left: auto;
  width: 56%;
}

.durante {
  flex: 0 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
}

.img-container2 {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: right;
}
.background2 {
  background-color: #005AAB;
  height: 17rem;
}

.previewbauhaus2 {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.img-fluid2 {
  width: 18%;
  height: auto;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-container2 {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.background3 {
  background-color: #EDDECB;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.info {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.boton3 {
    position: absolute;
    margin-left: 13rem;
    width: 10%;
    display: flex;

}

.wassilypreview2 {
  text-align: justify;
  margin-bottom: 0;
}

.text-center3 {
  text-align: center!important;
  margin-left: auto;
  width: 66%;
  padding-right: 2rem;
}

.footercolor {
  
  background-color: #F4BD18;
}

